# --- TEMP FILES ---
/data
*.tmp

# --- PYTHON SETTINGS ---
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
venv/
env/
.venv/
ENV/
bin
include
lib
lib64
pyvenv.cfg
change-planning/

# --- LOG FILES ---
*.log
logs/

# --- IDE SETTINGS ---
# VS Code
.vscode/
# PyCharm / IntelliJ
.idea/
.claude/*
!.claude/rules/
!CLAUDE.md

# --- OS SPECIFIC ---
.DS_Store
Thumbs.db