# See for more examples: https://codeberg.org/kylemmkay/deezer-engine/wiki/Configuration#examples
playlists:
  - name: "Normie Songs"
    # Take songs from my Library
    # Exclude my playlist with Anime Songs
    # Update my 'Normie Songs' playlist with smart replace
    source:
      - type: "favorites"
        retention: 23 # Pull after a day
    modifiers:
      - type: "exclude"
        source:
          type: "playlist"
          id: "12345678"  # Exclude these songs from source
          retention: 23
    destination:
      type: "smart"
      target: "01234567" # Playlist that will contain songs
  - name: "Discovery Mix"
    # Take my discovery list and new releases
    # Exclude songs in my favorites & dedupe
    # Add to my 'Daily Discovery' playlist with smart replace
    source:
      - type: "smarttracklist"
        name: "discovery"
        retention: 23
      - type: "smarttracklist"
        name: "new-releases"
        retention: 23
    modifiers:
      - type: "exclude"
        source: 
          type: "favorites" 
          retention: 23
          modifiers:
      # Most popular first
      - type: "sort"
        order: "desc"
        field: "rank"
      - type: "dedupe"
    destination:
      type: "smart"
      target: "99998888"