config:
  # Open https://www.deezer.com and log in
  # Open developer settigns in browser (usually F12)
  # Go to the Application tab (Chrome) or Storage tab (Firefox).
  # In the left sidebar, expand Cookies and select https://www.deezer.com
  # Find the cookie named `arl`
  # Copy the Value
  arl_token: "PASTE_ARL_HERE"
  # https://www.deezer.com/us/profile/ABC123
  user_id: "YOUR_NUMERIC_USER_ID" # Found in your profile URL
  log_level: "INFO" # Options: DEBUG, INFO, WARNING, ERROR
  chunk_size: 50  # Max tracks processed in batch operation's. (Adding/removing from playlist, db checkpoint caching)
  api_batch_size: 50  # API rate limit check interval (requests before pausing), recommended to leave unchanged
  rate_limit: 60  # Maximum API requests per minute, recommended to leave unchanged
  print_banner: true # Whether to print the startup banner
  playlist_cap: 5000
  favorites_cap: 10000